.cart-container {
    max-width: 800px;
    padding: 20px;
    margin-left: 10px;
    align-content: center;
    margin-top: -50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/*.delete-icon {
    color: red;
    text-decoration: none;
}

    .delete-icon:hover {
        color: darkred;
    }*/

button[type="submit"] {
    background-color: black; 
    color: white; 
    padding: 12px 24px; 
    font-size: 16px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    margin-left:650px;
    margin-bottom:10px;
}

    button[type="submit"]:hover {
        background-color: purple; 
    }

footer {
    margin-top: 170px;
}

.backbtn {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1 px solid black;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-left:5px;
    border-radius:10px;
}


    .backbtn:hover {
        background-color: black;
        color:white;
    }
