.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -100px;
}

.button {
    padding: 12px 24px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 10px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 200px; 
    height: 40px;
}

    .button:hover {
        background-color: black;
        color: red;
    }
