/* CSS code for center-aligning the heading */
.custom-order-heading {
    text-align: center;
}

/* CSS code for the form and columns */
.custom-order-form {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left:50px;
}

.custom-order-column {
    flex: 1;
    padding: 10px;
}

    .custom-order-submit input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

        .custom-order-submit input[type="submit"]:hover {
            background-color: #45a049;
        }

footer {
    background-color: #dd8afa;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:160px;
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.custom-order-submit {
    margin-top: 20px;
    text-align: center;
    margin-top: 200px;
}
