.login-form {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

    .login-form h2 {
        text-align: center;
    }

    .login-form label {
        display: block;
        margin-bottom: 10px;
    }

    .login-form input[type="text"],
    .login-form input[type="password"],
    .login-form select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 15px;
    }

    .login-form button {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .login-form button:hover {
            background-color: #45a049;
        }

.or-text {
    text-align: center;
    margin: 20px 0;
}

.register-button {
    width: 100%;
    padding: 10px;
    background-color: #f2f2f2;
    color: #555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .register-button:hover {
        background-color: #e6e6e6;
    }
